# Pyteste files
**/__pycache__
.pytest_cache

# Virtual Environment files
.venv/
venv/
ENV/

# IDE files
/**/.idea/*
/**/.vscode/*

# Terraform Files
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*tfplan*
.terraformrc
terraform.rc
*.terraform.lock.hcl

# Local project files
airflow-values.yaml
kubernetes/airflow/config
kubernetes/airflow/logs
kubernetes/airflow/airflow.cfg
kubernetes/airflow/webserver_config.py